网页爬虫，获取数据表

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
print('Success.')

Success.

In [3]:
import re
from requests_html import HTMLSession
session = HTMLSession()
print('Success.')

Success.

In [4]:
def pull_summoner_names(url, start_tag, end_tag):
    website_string = session.get(url).html.html
    
    start_indices = [m.start() for m in re.finditer(start_tag, website_string)]
    end_indices = [m.start() for m in re.finditer(end_tag, website_string)]
    
    if (len(start_indices) != len(end_indices)):
        return('List lengths do not match.')
    
    result = [website_string[(start_indices[i]+len(start_tag)):(end_indices[i])] for i in range(0,100)]
    return(result)

In [5]:
url = 'https://www.leagueofgraphs.com/rankings/summoners/{}'
regions = ['na', 'br', 'kr', 'euw', 'eune']
start_tag = '<span class="name">'
end_tag = '</span>\n                                        <br/>\n'

top_summoners = dict()

for region in regions:
    top_summoners[region] = pull_summoner_names(url.format(region),start_tag,end_tag)

summoners = pd.DataFrame(top_summoners)
summoners

,na,br,kr,euw,eune
0,C9 Zven,xiaolongbao,DWG ShowMaker,Agurin,Litny
1,Palafox,Aryze,T1 BurdoI,Legendary Manaty,UnExpecteDGanGS
2,qpalzmwoiaj,C0ME BACK HOME,mars8,RGE lnspired,Kits&ugrave;ne
3,Ssumdayday,v f N b,개똥벌레a,Elyoyaaa,Scarlet Rose
4,C9 ZVENNN,VK Hidan,owoowoowoowoowo,SUP Armutke,EXSEMI
...,...,...,...,...,...
95,Cazamareas,Scavange,ZED99,Juhozkin,Atmo
96,PIux,RNG m1ng,xiaozhabi,RoseLMonster,I Doom Warrior I
97,MentaIIy strong,fvckk,군밤갓,MRS JaVa&aacute;a,Liam Nees&omicron;n
98,DrewDozer,esA,Keine1,RGE3,MkdPro123
99,FudoMyoo,Spl4sh,HLE Mireu,llamame papi,Zalech23

In [6]:
from riotwatcher import LolWatcher

lol_watcher = LolWatcher('app-api-here')
print('Success.')

Success.

In [7]:
summoners.columns = ['na1', 'br1', 'kr', 'euw1', 'eun1']
summoners

,na1,br1,kr,euw1,eun1
0,C9 Zven,xiaolongbao,DWG ShowMaker,Agurin,Litny
1,Palafox,Aryze,T1 BurdoI,Legendary Manaty,UnExpecteDGanGS
2,qpalzmwoiaj,C0ME BACK HOME,mars8,RGE lnspired,Kits&ugrave;ne
3,Ssumdayday,v f N b,개똥벌레a,Elyoyaaa,Scarlet Rose
4,C9 ZVENNN,VK Hidan,owoowoowoowoowo,SUP Armutke,EXSEMI
...,...,...,...,...,...
95,Cazamareas,Scavange,ZED99,Juhozkin,Atmo
96,PIux,RNG m1ng,xiaozhabi,RoseLMonster,I Doom Warrior I
97,MentaIIy strong,fvckk,군밤갓,MRS JaVa&aacute;a,Liam Nees&omicron;n
98,DrewDozer,esA,Keine1,RGE3,MkdPro123
99,FudoMyoo,Spl4sh,HLE Mireu,llamame papi,Zalech23

In [8]:
def account_id_for_col(region, column):
    temp_list = []
    
    for summoner in column:
        try:
            temp_list.append(lol_watcher.summoner.by_name(region, summoner)['accountId'])
        except:
            print('Error for {}'.format(summoner))
            temp_list.append(np.nan)
        
    return(temp_list)
print('Success.')

Success.

In [9]:
print('NA1')
summoners['na1_account_id'] = account_id_for_col('na1', summoners.na1)
print('\nBR1')
summoners['br1_account_id'] = account_id_for_col('br1', summoners.br1)
print('\nKR')
summoners['kr_account_id'] = account_id_for_col('kr', summoners.kr)
print('\nEUW1')
summoners['euw1_account_id'] = account_id_for_col('euw1', summoners.euw1)
print('\nEUN1')
summoners['eun1_account_id'] = account_id_for_col('eun1', summoners.eun1)

NA1
Error for Ne&oslash;&oslash;
Error for j1h&ugrave;1V
Error for Veni vidi vic&igrave;

BR1
Error for o&atilde;geN olavaC
Error for doutor keio
Error for Tr&iuml;go
Error for DE BR&Uuml;YNE 17
Error for Para&igrave;so
Error for Qu&igrave;nn
Error for Gord&atilde;o1000Grau

KR

EUW1
Error for Raz&oslash;rk Activoo
Error for Rob&iacute;nh00D
Error for D&eacute;adly
Error for Mj&ouml;llnir Abuser
Error for Kang Seung I&omicron;k
Error for FNC N&ecirc;mesis
Error for zo&iacute;r
Error for pr1me&eacute;
Error for Legendary Ch&oslash;vy
Error for Tigriuk&eacute;
Error for MRS X&iacute;co
Error for c&oslash;cky movement
Error for K&oslash;ldo Locuraa
Error for Elyoy&alpha;
Error for MRS JaVa&aacute;a

EUN1
Error for Kits&ugrave;ne
Error for Gaarf&igrave;eld
Error for H&eacute;tzer
Error for L&upsilon;ci&fnof;er
Error for &Eta;obbi
Error for M&aelig;stro
Error for &Mu;&Lambda;TI
Error for Humorn&iacute;ček
Error for Mart&omicron;
Error for Luxur&iacute;a
Error for Liam Nees&omicron;n

In [10]:
match_columns = ['teamId', 'win', 'firstBlood', 'firstTower', 'firstInhibitor',
       'firstBaron', 'firstDragon', 'firstRiftHerald', 'towerKills',
       'inhibitorKills', 'baronKills', 'dragonKills', 'vilemawKills',
       'riftHeraldKills', 'dominionVictoryScore', 'bans', 'region']
match_df = pd.DataFrame(columns = match_columns)
match_df

Empty DataFrame
Columns: [teamId, win, firstBlood, firstTower, firstInhibitor, firstBaron, firstDragon, firstRiftHerald, towerKills, inhibitorKills, baronKills, dragonKills, vilemawKills, riftHeraldKills, dominionVictoryScore, bans, region]
Index: []

In [11]:
account_id_columns = ['na1_account_id', 'br1_account_id', 'kr_account_id', 'euw1_account_id', 'eun1_account_id']

for column in account_id_columns:
    
    current_column = summoners[column]
    current_region = column.split('_')[0]
    print('Starting {}....'.format(current_region))
    
    for index in range(0,100):
        
        if type(summoners[column].iloc[index]) == float:
            print('Skipping index {}, column {} because nan value.'.format(index, column))
            continue
            
        try:    
            temp_game_ids = [game['gameId'] for game in lol_watcher.match.matchlist_by_account(current_region, summoners[column].iloc[index])['matches']]
        except:
            print('Skipping games at index {}, column {}.'.format(index, column))
            continue
        
        for gameid in temp_game_ids[:10]:
            try:
                temp_df = pd.DataFrame(lol_watcher.match.by_id(current_region, gameid)['teams'])
                temp_df['region'] = [current_region] * len(temp_df)
                match_df = pd.concat([match_df, temp_df], sort = False)
            except:
                print('Skipping game at index {}, column {}'.format(index, column))
                continue
    print('Finished {}'.format(current_region))
    print('Current length of dataframe: {}\n'.format(len(match_df)))

Starting na1....
Skipping index 10, column na1_account_id because nan value.
Skipping index 42, column na1_account_id because nan value.
Skipping game at index 49, column na1_account_id
Skipping index 58, column na1_account_id because nan value.
Finished na1
Current length of dataframe: 1938

Starting br1....
Skipping game at index 17, column br1_account_id
Skipping game at index 27, column br1_account_id
Skipping index 33, column br1_account_id because nan value.
Skipping game at index 40, column br1_account_id
Skipping game at index 42, column br1_account_id
Skipping index 47, column br1_account_id because nan value.
Skipping index 52, column br1_account_id because nan value.
Skipping game at index 58, column br1_account_id
Skipping index 63, column br1_account_id because nan value.
Skipping index 68, column br1_account_id because nan value.
Skipping index 76, column br1_account_id because nan value.
Skipping index 84, column br1_account_id because nan value.
Finished br1
Current length of dataframe: 3788

Starting kr....
Skipping game at index 4, column kr_account_id
Skipping game at index 67, column kr_account_id
Skipping game at index 69, column kr_account_id
Finished kr
Current length of dataframe: 5782

Starting euw1....
Skipping index 9, column euw1_account_id because nan value.
Skipping game at index 13, column euw1_account_id
Skipping index 17, column euw1_account_id because nan value.
Skipping game at index 22, column euw1_account_id
Skipping index 25, column euw1_account_id because nan value.
Skipping index 26, column euw1_account_id because nan value.
Skipping index 30, column euw1_account_id because nan value.
Skipping index 36, column euw1_account_id because nan value.
Skipping index 40, column euw1_account_id because nan value.
Skipping game at index 49, column euw1_account_id
Skipping index 50, column euw1_account_id because nan value.
Skipping index 51, column euw1_account_id because nan value.
Skipping game at index 57, column euw1_account_id
Skipping games at index 61, column euw1_account_id.
Skipping index 67, column euw1_account_id because nan value.
Skipping index 69, column euw1_account_id because nan value.
Skipping index 75, column euw1_account_id because nan value.
Skipping index 92, column euw1_account_id because nan value.
Skipping index 93, column euw1_account_id because nan value.
Skipping index 97, column euw1_account_id because nan value.
Finished euw1
Current length of dataframe: 7454

Starting eun1....
Skipping index 2, column eun1_account_id because nan value.
Skipping index 10, column eun1_account_id because nan value.
Skipping index 13, column eun1_account_id because nan value.
Skipping index 17, column eun1_account_id because nan value.
Skipping game at index 36, column eun1_account_id
Skipping index 38, column eun1_account_id because nan value.
Skipping index 40, column eun1_account_id because nan value.
Skipping index 46, column eun1_account_id because nan value.
Skipping game at index 55, column eun1_account_id
Skipping index 66, column eun1_account_id because nan value.
Skipping game at index 69, column eun1_account_id
Skipping index 71, column eun1_account_id because nan value.
Skipping index 86, column eun1_account_id because nan value.
Skipping game at index 90, column eun1_account_id
Skipping index 97, column eun1_account_id because nan value.
Finished eun1
Current length of dataframe: 9226

In [12]:
match_df.head(10)

,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,region
0,100,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': 245, 'pickTurn': 1}, {'champio...",na1
1,200,Win,True,True,False,False,True,False,1,0,0,2,0,0,0,"[{'championId': 777, 'pickTurn': 6}, {'champio...",na1
0,100,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': 7, 'pickTurn': 1}, {'championI...",na1
1,200,Win,True,True,True,False,True,True,8,1,0,2,0,1,0,"[{'championId': 777, 'pickTurn': 6}, {'champio...",na1
0,100,Win,True,True,True,False,True,False,10,2,0,1,0,0,0,"[{'championId': 777, 'pickTurn': 1}, {'champio...",na1
1,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': 104, 'pickTurn': 6}, {'champio...",na1
0,100,Win,True,True,False,True,True,True,4,0,1,2,0,1,0,"[{'championId': 58, 'pickTurn': 1}, {'champion...",na1
1,200,Fail,False,False,False,False,False,False,0,0,0,1,0,0,0,"[{'championId': 777, 'pickTurn': 6}, {'champio...",na1
0,100,Win,True,False,False,True,False,False,6,0,1,2,0,0,0,"[{'championId': 37, 'pickTurn': 1}, {'champion...",na1
1,200,Fail,False,True,False,False,True,True,4,0,0,3,0,1,0,"[{'championId': 107, 'pickTurn': 6}, {'champio...",na1

In [14]:
match_df['win'] = match_df['win'].map({'Win': 1, 'Fail': 0})
match_df['firstBlood'] = match_df['firstBlood'].astype(int)
match_df['firstTower'] = match_df['firstTower'].astype(int)
match_df['firstInhibitor'] = match_df['firstInhibitor'].astype(int)
match_df['firstBaron'] = match_df['firstBaron'].astype(int)
match_df['firstDragon'] = match_df['firstDragon'].astype(int)
match_df['firstRiftHerald'] = match_df['firstRiftHerald'].astype(int)
match_df.head(10)

,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,region
0,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"[{'championId': 245, 'pickTurn': 1}, {'champio...",na1
1,200,1,1,1,0,0,1,0,1,0,0,2,0,0,0,"[{'championId': 777, 'pickTurn': 6}, {'champio...",na1
0,100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"[{'championId': 7, 'pickTurn': 1}, {'championI...",na1
1,200,1,1,1,1,0,1,1,8,1,0,2,0,1,0,"[{'championId': 777, 'pickTurn': 6}, {'champio...",na1
0,100,1,1,1,1,0,1,0,10,2,0,1,0,0,0,"[{'championId': 777, 'pickTurn': 1}, {'champio...",na1
1,200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"[{'championId': 104, 'pickTurn': 6}, {'champio...",na1
0,100,1,1,1,0,1,1,1,4,0,1,2,0,1,0,"[{'championId': 58, 'pickTurn': 1}, {'champion...",na1
1,200,0,0,0,0,0,0,0,0,0,0,1,0,0,0,"[{'championId': 777, 'pickTurn': 6}, {'champio...",na1
0,100,1,1,0,0,1,0,0,6,0,1,2,0,0,0,"[{'championId': 37, 'pickTurn': 1}, {'champion...",na1
1,200,0,0,1,0,0,1,1,4,0,0,3,0,1,0,"[{'championId': 107, 'pickTurn': 6}, {'champio...",na1

In [15]:
match_df.drop(['vilemawKills', 'dominionVictoryScore', 'bans', 'teamId'], axis = 1, inplace = True)
match_df.head(10)

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,riftHeraldKills,region
0,0,0,0,0,0,0,0,0,0,0,0,0,na1
1,1,1,1,0,0,1,0,1,0,0,2,0,na1
0,0,0,0,0,0,0,0,0,0,0,0,0,na1
1,1,1,1,1,0,1,1,8,1,0,2,1,na1
0,1,1,1,1,0,1,0,10,2,0,1,0,na1
1,0,0,0,0,0,0,0,0,0,0,0,0,na1
0,1,1,1,0,1,1,1,4,0,1,2,1,na1
1,0,0,0,0,0,0,0,0,0,0,1,0,na1
0,1,1,0,0,1,0,0,6,0,1,2,0,na1
1,0,0,1,0,0,1,1,4,0,0,3,1,na1

In [16]:
match_df.reset_index(inplace = True)
match_df.head(10)

,index,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,riftHeraldKills,region
0,0,0,0,0,0,0,0,0,0,0,0,0,0,na1
1,1,1,1,1,0,0,1,0,1,0,0,2,0,na1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,na1
3,1,1,1,1,1,0,1,1,8,1,0,2,1,na1
4,0,1,1,1,1,0,1,0,10,2,0,1,0,na1
5,1,0,0,0,0,0,0,0,0,0,0,0,0,na1
6,0,1,1,1,0,1,1,1,4,0,1,2,1,na1
7,1,0,0,0,0,0,0,0,0,0,0,1,0,na1
8,0,1,1,0,0,1,0,0,6,0,1,2,0,na1
9,1,0,0,1,0,0,1,1,4,0,0,3,1,na1

In [17]:
match_df.drop(['index'], axis = 1, inplace = True)
match_df.head(10)
match_df.to_csv("C:\Users\yingm\Desktop\bigdatabase\matches.csv",
                             index=True,encoding="GBK",header = True,sep=',')

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,riftHeraldKills,region
0,0,0,0,0,0,0,0,0,0,0,0,0,na1
1,1,1,1,0,0,1,0,1,0,0,2,0,na1
2,0,0,0,0,0,0,0,0,0,0,0,0,na1
3,1,1,1,1,0,1,1,8,1,0,2,1,na1
4,1,1,1,1,0,1,0,10,2,0,1,0,na1
5,0,0,0,0,0,0,0,0,0,0,0,0,na1
6,1,1,1,0,1,1,1,4,0,1,2,1,na1
7,0,0,0,0,0,0,0,0,0,0,1,0,na1
8,1,1,0,0,1,0,0,6,0,1,2,0,na1
9,0,0,1,0,0,1,1,4,0,0,3,1,na1